name: Currency Converter Workflow

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test-currency-converter:
    runs-on: ubuntu-latest
    container:
        image: python:3.10
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Test with pytest
        run: |
          pytest tests/
